.header {
    background-color: rgba(202, 137, 76, 0.438);
    text-align: center;
}
.list {
    background-color: rgba(202, 137, 76, 0.438);
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.item {
    background-color: rgba(202, 137, 76, 0.438);
    
}
.url {
    background-color: rgba(202, 137, 76, 0.438);
    color: brown;
}